In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
from datetime import timedelta
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import squarify

In [2]:
#Using pandas read_csv() function
df = pd.read_csv(r"C:\Users\Owner\Desktop\Mangimind Data Science Bootcamp\Machine Learning Project 1\recom.csv")
df

,Unnamed: 0,Main_ID,Transaction_ID,Date,Price,Code_Product,Amount,ItemKey
0,0,90fada91,264f7a69,2022-10-07 20:53:49.153,125.0,5002.0,1.0,5002.0
1,1,9006f9ac,45c7d853,2022-09-17 15:54:57.187,19.0,35012.0,1.0,NaN
2,2,32270891,61ad76dd,2022-11-28 13:51:55.667,141.0,5005.0,1.0,5005.0
3,3,97e03e47,41ee09f6,2022-09-12 16:20:22.110,4.5,35078.5,1.0,NaN
4,4,41949228,244fe6d8,2022-10-14 18:53:43.933,129.5,49291.5,5.0,NaN
...,...,...,...,...,...,...,...,...
49995,49995,bb127ffb,4e0eb5ab,2022-09-24 21:48:20.847,111.5,45004.0,4.0,45004.0
49996,49996,a8bc484a,c9946c16,2022-11-18 19:49:01.973,34.0,49292.0,1.0,NaN
49997,49997,c983862a,d1a35c5c,2022-11-24 20:02:43.023,178.0,5001.5,1.0,5001.5
49998,49998,8821da12,66f9b474,2022-11-06 13:07:01.423,26.0,49291.5,1.0,NaN
49999,49999,7f281f91,0ff8b41f,2022-10-10 16:06:20.473,52.0,45001.5,1.0,45001.5

In [3]:
#looking at all columns in the dataframe
df.columns.tolist()
# Dropped 'Unnamed: 0' 
df = df.drop(columns =['Unnamed: 0'])

In [4]:
# The info() method prints information about the DataFrame. 
# The information contains the number of columns, column labels, column data types, memory usage, range index, and the number of cells in each column (non-null values). 
df.info()

# Using the isnull() with sum() to look at the number of null values in the dataframe.
df.isnull().sum()

# Using isnull() with mean() function to get the percentage of missing data in itemKey, which is 42.81%
df.isnull().mean()

# Filling NaN values in ItemKey as 0 because dropping all the NaN values would result in losing a large sameple of data.
df = df.fillna(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Main_ID         50000 non-null  object
 1   Transaction_ID  50000 non-null  object
 2   Date            50000 non-null  object
 3   Price           50000 non-null  float64
 4   Code_Product    50000 non-null  float64
 5   Amount          50000 non-null  float64
 6   ItemKey         28597 non-null  float64
dtypes: float64(4), object(3)
memory usage: 2.7+ MB

In [5]:
df['Date'] = pd.to_datetime(df['Date'])
df['Code_Product'] = df['Code_Product'].astype(str)
df['ItemKey'] = df['Code_Product']
df['ItemKey'] = df['ItemKey'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Main_ID         50000 non-null  object
 1   Transaction_ID  50000 non-null  object
 2   Date            50000 non-null  datetime64[ns]
 3   Price           50000 non-null  float64
 4   Code_Product    50000 non-null  object
 5   Amount          50000 non-null  float64
 6   ItemKey         50000 non-null  object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 2.7+ MB

In [6]:
print(df['Main_ID'].duplicated(keep= False).value_counts())
print(df['Transaction_ID'].duplicated(keep= False).value_counts())

True     28729
False    21271
Name: Main_ID, dtype: int64
False    46859
True      3141
Name: Transaction_ID, dtype: int64

In [7]:
# Creating a Pivot Table using pd.pivot_table() function. 
# The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame.

pivot_table = pd.pivot_table(df, index =['Main_ID'], 
                             columns= ['Code_Product'],
                             values = ['Amount'], 
                             aggfunc=pd.Series.sum, fill_value=0)
display(pivot_table)

              Amount                                                          \
Code_Product 10000.5 10001.0 10001.5 10002.0 10003.0 10003.5 10004.0 10006.0
Main_ID
00024de6           0       0       0       0       0       0       0       0
00084856           0       0       0       0       0       0       0       0
0008e848           0       0       0       0       0       0       0       0
00096930           0       0       0       0       0       0       0       0
000c66b7           0       0       0       0       0       0       0       0
...              ...     ...     ...     ...     ...     ...     ...     ...
fff8b1c4           0       0       0       0       0       0       0       0
fff905d0           0       0       0       0       0       0       0       0
fff9726b           0       0       0       0       0       0       0       0
fffa332b           0       0       0       0       0       0       0       0
ffff4aa9           0       0       0       0       0       0       0       0

                              ...                                          \
Code_Product 10013.0 10015.0  ... 57035.5 60020.5 60047.5 60048.0 60048.5
Main_ID                       ...
00024de6           0       0  ...       0       0       0       0       0
00084856           0       0  ...       0       0       0       0       0
0008e848           0       0  ...       0       0       0       0       0
00096930           0       0  ...       0       0       0       0       0
000c66b7           0       0  ...       0       0       0       0       0
...              ...     ...  ...     ...     ...     ...     ...     ...
fff8b1c4           0       0  ...       0       0       0       0       0
fff905d0           0       0  ...       0       0       0       0       0
fff9726b           0       0  ...       0       0       0       0       0
fffa332b           0       0  ...       0       0       0       0       0
ffff4aa9           0       0  ...       0       0       0       0       0


Code_Product 60049.0 60049.5 60050.5 60051.0 60052.0
Main_ID
00024de6           0       0       0       0       0
00084856           0       0       0       0       0
0008e848           0       0       0       0       0
00096930           0       0       0       0       0
000c66b7           0       0       0       0       0
...              ...     ...     ...     ...     ...
fff8b1c4           0       0       0       0       0
fff905d0           0       0       0       0       0
fff9726b           0       0       0       0       0
fffa332b           0       0       0       0       0
ffff4aa9           0       0       0       0       0

[28514 rows x 333 columns]

In [49]:
product_corr = pivot_table.corr()
product_corr

MultiIndex([('Amount', '10000.5'),
            ('Amount', '10001.0'),
            ('Amount', '10001.5'),
            ('Amount', '10002.0'),
            ('Amount', '10003.0'),
            ('Amount', '10003.5'),
            ('Amount', '10004.0'),
            ('Amount', '10006.0'),
            ('Amount', '10013.0'),
            ('Amount', '10015.0'),
            ...
            ('Amount', '57035.5'),
            ('Amount', '60020.5'),
            ('Amount', '60047.5'),
            ('Amount', '60048.0'),
            ('Amount', '60048.5'),
            ('Amount', '60049.0'),
            ('Amount', '60049.5'),
            ('Amount', '60050.5'),
            ('Amount', '60051.0'),
            ('Amount', '60052.0')],
           names=[None, 'Code_Product'], length=333)

In [50]:
product_corr = product_corr.reset_index(level = 0, drop = True).droplevel(0, axis=1)

In [58]:
product_corr['49291.5'].sort_values(ascending = False).iloc[1:11]

Code_Product
5000.5     0.119490
10006.0    0.104608
49292.0    0.102250
5005.0     0.095727
48513.0    0.091126
25003.0    0.089424
45004.0    0.076152
40077.5    0.074376
49567.5    0.070651
10031.0    0.070045
Name: 49291.5, dtype: float64

In [ ]:
['10006.0' '5000.5' '5005.0' '25003.0' '45004.0' '48513.0' '10031.0'
 '10023.5' '49567.5' '5001.0']

In [38]:
new_df = df.groupby(['Main_ID'])['Code_Product'].unique()
new_df.head()

Main_ID
00024de6             [35097.0]
00084856    [49291.5, 49292.0]
0008e848             [40002.0]
00096930             [49291.5]
000c66b7     [45001.0, 5002.0]
Name: Code_Product, dtype: object

In [39]:
df_cust_product_purchase = pd.DataFrame({'Main_ID':new_df.index, 'Code_Product':new_df.values})

In [56]:
df_cust_product_purchase.loc[df_cust_product_purchase['Main_ID'] == '00084856']

Empty DataFrame
Columns: [Main_ID, Code_Product]
Index: []

In [54]:
df_cust_product_purchase

        Main_ID        Code_Product
0      00024de6           [35097.0]
1      00084856  [49291.5, 49292.0]
2      0008e848           [40002.0]
3      00096930           [49291.5]
4      000c66b7   [45001.0, 5002.0]
...         ...                 ...
28509  fff8b1c4           [35077.0]
28510  fff905d0           [49292.0]
28511  fff9726b  [45001.5, 30003.0]
28512  fffa332b           [49556.0]
28513  ffff4aa9            [5009.0]

[28514 rows x 2 columns]

In [55]:
df_cust_product_purchase.loc[df_cust_product_purchase['Main_ID']=='00084856','Code_Product']

1    [49291.5, 49292.0]
Name: Code_Product, dtype: object

In [45]:
def recommend_products(Main_ID, product_corr, df_cust_product_purchase):
    customer_products = df_cust_product_purchase.loc[df_cust_product_purchase['Main_ID'] == Main_ID, 'Code_Product'].values[0]
    recommendations = pd.Series(dtype='float64')
    for product in customer_products:
        product_corr_sorted = product_corr[product].sort_values(ascending=False)
        recommendations = recommendations.append(product_corr_sorted)
    recommendations = recommendations.groupby(recommendations.index).mean()
    recommendations = recommendations.drop(customer_products)
    top_recommendations = recommendations.sort_values(ascending=False)
    top_recommendations = top_recommendations[~top_recommendations.index.isin(customer_products)]
    top_recommendations = top_recommendations.head(10)
    top_recommendation_codes = top_recommendations.index.to_numpy()
    print(f"Top 10 recommended products for customer {Main_ID}:")
    print(top_recommendation_codes)

In [46]:
recommend_products('00084856', product_corr, df_cust_product_purchase)

Top 10 recommended products for customer 00084856:
['10006.0' '5000.5' '5005.0' '25003.0' '45004.0' '48513.0' '10031.0'
 '10023.5' '49567.5' '5001.0']

C:\Users\Owner\AppData\Local\Temp\ipykernel_24752\555733311.py:6: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  recommendations = recommendations.append(product_corr_sorted)
C:\Users\Owner\AppData\Local\Temp\ipykernel_24752\555733311.py:6: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  recommendations = recommendations.append(product_corr_sorted)

The recommend_products function takes three arguments as input:

    Main_ID: The ID of the customer for whom we want to generate recommendations.
    product_corr: A correlation matrix between different products. This matrix is used to identify products that are similar to the ones the customer has already purchased.
    df_cust_product_purchase: A DataFrame that contains information about which products each customer has purchased in the past.

The function first extracts the products that the customer has already purchased by using the loc method to filter the df_cust_product_purchase DataFrame based on the Main_ID. It then calculates a set of recommendations for the customer by looping over each of the products they have already purchased and identifying other products that are similar to those ones using the product_corr matrix. The function then averages the correlation values across all of the products and returns a set of recommendations.The function averages the correlation values across all of the products to give a general idea of how related each product is to the customer's overall purchase history. By taking the mean of the correlation values for each product, we get the overall correlation between the customer's purchase history and each product. This allows us to generate a list of recommendations that are likely to be relevant to the customer's interests based on their past purchases.

Finally, the function sorts the recommendations in descending order and prints the top 10 recommended products for the customer, excluding any products they have already purchased.

In [ ]:
df_simple_recommender.rename(columns={'Main_ID': 'user_id', 'Code_Product': 'item_id', 'Amount': 'rating'}, inplace=True)
a=pd.pivot_table(df_simple_recommender, index='user_id', columns='item_id', values='rating')
df_CM_simple_rec = pd.pivot_table(df_simple_recommender, index='user_id', columns='item_id', values='rating').corr()
single_prod_corr = df_CM_simple_rec[5011.5].sort_values(ascending=False)
rec_dict = {'user_id':[],
      'purchased_item_id':[],
      'reccomended_item':[],
      'correlations_coeff':[]}
for g in df_simple_recommender.groupby('user_id'):
  for i in g[1]['item_id']:
    single_prod_corr = df_CM_simple_rec[i].sort_values(ascending=False)
    positive_single_prod_corr = single_prod_corr.loc[single_prod_corr.values > 0]
    for j in positive_single_prod_corr.index:
      rec_dict['user_id'].append(g[0])
      rec_dict['purchased_item_id'].append(i)
      rec_dict['reccomended_item'].append(j)
      rec_dict['correlations_coeff'].append(positive_single_prod_corr[j])
df_simpl_rec_final = pd.DataFrame(rec_dict)
df_simpl_rec_final['correlations_coeff'] = df_simpl_rec_final['correlations_coeff'].apply(lambda x: round(x, 2))
df_simpl_rec_final.index = pd.MultiIndex.from_arrays([df_simpl_rec_final['user_id'],
                          df_simpl_rec_final['purchased_item_id'],
                          df_simpl_rec_final['reccomended_item']])
df_simpl_rec_final.drop(columns=['user_id','purchased_item_id','reccomended_item'], inplace=True)